/* Remove all space */
* {
  margin:  0;
}

/* background color ColorZilla Chrome extension*/
.app{
  background-color: #fafafa;
  height: 100vh;
}
.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postRight{
  margin-left: 20px;
}

.app__postLeft{

}
.app__header{
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
/* header image */
.app__headerImage{
  /* background-color: white; */
  width: 150px;
  height: 80px;
  object-fit: contain;
}

.app_singupImage{
  width: 100px;
  height: 40px;
  /* object-fit: contain; */
  align-items: center;
}

.app__signup{
  display: flex;
  flex-direction: column;

}