.post{
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
    align-items: center;
}
.post__image{
    width: 100%;
    object-fit: contain; /*keep aspect ratio*/
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__header{
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar{
    margin: 10px;
}

.post__text{
    font-weight: normal;
    padding: 20px;
}

.post__commentBox{
    display: flex;
    margin-top: 10px;
    ;
}
.post__comments{
    padding: 15px;
    border-color: blue;

}

.post__input{
    flex: 1;
    padding: 10px;
    border: none;
    border-top: 1px solid lightgray;
}

.post__button{
    flex: 0; 
    border: none;
    border-top: 1px solid lightgray;
    color: #6082a3;
    background-color: transparent;
}


